{{template "header"}}

{{define "ordersDetial"}}
<!-- table-responsive响应式表格 内容放不下时会允许拖 -->
<div class="table-responsive">
	<!-- 表格 class="table" table-bordered加上边框 table-striped加上隔行变色 table-hover鼠标悬停效果 -->
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>DID</th>
				<th>菜名</th>
				<th>类型</th>
				<th>单价</th>
				<th>数量</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			{{$status := .Status}}
			{{range .Detial_order_list}}
				{{if ne .Did ""}}
					<tr>
						<td>{{.Did}}</td>
						<td>{{.Name}}</td>
						<td>{{.Type_name}}</td>
						<td>{{.Price}}</td>
						<td>{{.Num}}</td>
						<td>
							{{if eq $status "0"}}
								<button class="btn btn-danger" 
								onclick="window.location.href = 
								'http://127.0.0.1:9090/minusdishesorders?oid='+{{.Oid}}+'&did='+{{.Did}}">
									删除
								</button>
							{{else}}
								<p>已完成/已撤销</p>
							{{end}}
						</td>
					</tr>
				{{end}}
			{{end}}
		</tbody>
	</table>
</div>


</body>
</html>
{{end}}